/* FONT PATH
 * -------------------------- */
$font-path : "ubuntu/fonts" !default;
@font-face {
  font-family: 'UbuntuReguler';
  src: url('#{$font-path}/Ubuntu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuLight';
  src: url('#{$font-path}/Ubuntu-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuSemiBold';
  src: url('#{$font-path}/Ubuntu-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
