@import "bootstrap/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "ubuntu/sass/ubuntu.scss";
html{
    height: 100%;
}
body{
    font-family: "UbuntuReguler";
    background: #fcfcfc;
    height: 100%;
}
header{
    display: block;
    width: 100%;
    position: relative;
    z-index: 999;
    top: 0px;
    margin-bottom: 20px;
    .navbar-top{
        background-color: #000;
        color: #fff;
        padding: 0px 15px;
        .welcome-message{
            font-family: 'UbuntuLight';
            float: left;
            padding: 10px 0px;
            font-size: 12px;
        }
        .social-media{
            float: right;
            ul{
                display: block;
                li{
                    display: inline-block;
                    float: left;
                    margin-left: 10px;
                    a{
                        color: #fff;
                        font-size:18px;
                        min-height: 30px;
                        line-height: 30px;
                        &.info{
                            font-size: 12px;
                        }
                    }
                }
            }
            &:after{
                 @extend .clearfix;
            }
        }
        &:after{
             @extend .clearfix;
        }
    }
    .navbar-default{
        background-color: #e00f0f;
        border-radius: 0px;
        border:none;
        min-height: 80px;
        padding-top:10px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        img{
            max-width: 200px;
        }
        .navbar-brand {
            float: left;
            padding: 20px 20px;
            font-size: 18px;
            line-height: 0px;
            height: 80px;
        }
        .navbar-nav {
            & > li{
                position: relative;
                &:before{
                    content: "";
                    height: 1px;
                    width: 0;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    margin: auto;
                    background-color: #fff;
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                }
                &:hover{
                    &:before{
                        width: 100%;
                        transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                    }
                }
                & > a{
                    color: #fff;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    font-family: 'UbuntuLight';
                    font-size: 16px;
                    text-transform: uppercase;
                    &:hover,&:focus{
                        color:#333;
                        -moz-transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #fff;
    background-color: #e00f0f;
    border: 1px solid #e00f0f;
    border-bottom-color: transparent;
    cursor: default;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
}
.nav-tabs > li > a:hover{
    color: #fff;
    background-color: #e00f0f;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}
.nav-tabs > li > a{
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    border-radius: 0;
}
.box{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    .box-title{
        margin:0px 0px;
        padding:10px 0px;
        text-transform: uppercase;
        .box-action{
            text-transform: none;
            float: right;
        }
        &:after{
            @extend .clearfix;
        }
    }
    .box-sub-title{
        margin:0px 0px;
        padding:10px 0px;
        font-size:18px;
        font-family: "UbuntuSemiBold";
    }
    .box-body{
        padding: 10px;
    }
    
}
.input-group-addon{
    background-color: #e00f0f;
    border-radius: 0px;
    border:1px solid #e00f0f;
    color: #fff;
    min-width: 40px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn{
    border-left: none;
}

.form-control{
    background-color: #fff;
    color: #333;
    border-radius: 0px;
    border-color:#e00f0f;
    &:focus{
        box-shadow: none;
        border-color:#e00f0f;
    }
}

.form-control::-moz-placeholder {
    color: #333;
    opacity: 0.6;
}

.profile-box{
    background: #fff;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    .user-name{
        margin:0px 0px 5px;
        padding:0px;
        font-size: 14px;
    }
    .display-name{
        margin:0px 0px 10px;
        padding:0px;
        font-size: 18px;
        font-family: "UbuntuSemiBold";
    }
    .last-login{
        font-size:12px;
        color: #666;
        margin-bottom: 0px;
    }
    
}

.control-label{
    font-family: "UbuntuLight";
    font-size: 12px;
}

.box-tab{
    background-color: #fff;
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    min-height: 400px;
    border: 1px solid #ccc;
    border-top: 0px;;
    .title-box{
        margin: 0px 0px 20px;
        font-size:22px;
        font-family: "UbuntuSemiBold";
        .pull-right{
            font-family: "UbuntuReguler";
            font-size:14px;
        }
    }
    form{
        margin: 0px 0;
    }
}

.bs-wizard {margin-top: 40px;margin-bottom: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.main-carousel{
    margin-top: -20px;
    background: #000;
    .carousel-control{
        opacity: 1;
        background-image :none;
        text-shadow: none;
        width: 5%;
        &:hover{
            opacity: 1;
        }
        .fa{
            top: 50%;
            transform: translateY(-50%);
            font-size: 38px;
            position: absolute;
        }
    }
}

.form-search-home{
    position: absolute;
    width: 400px;
    z-index: 666;
    left:50%;
    top:50%;
    transform: translate(-50%);
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    button{
        background: transparent;
        border:none;
        top:13px;
        right:12px;
        i{
            font-size: 22px;
            color:#fff;
        }
    }
    form.normal-search{
        button{
            position: absolute;
            z-index: 667;
        }
    }
    form.advance{
        display: none;
        overflow-y: auto;
        overflow-x: hidden;
        height: 300px;
        -moz-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        button{
            display: inline-block;
            width: 30%;
            border:1px solid rgba(255,255,255,0.7);
            height:50px;
            background: rgba(255,255,255,0.2);
            border-radius: 50px;
            padding: 0px 20px;
            color: #fff;
            margin-bottom: 10px;
        }
    }
    &.advance-search-active{
        -moz-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        width: 90%;
        top:30%;
        transform: translate(-50%);
        form.normal-search{
            display: none;
            -moz-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
        }
        form.advance{
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
            height: 300px;
            -moz-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
        }
    }
    .option-search{
        display: block;
        color: #fff;
        text-align: center;
        a{
            display: inline-block;
            color: #fff;
            margin-right: 5px;
            margin-left: 5px;
        }
        div{
            display: inline-block;
        }
        .link-easy{
            display: none;
        }
    }
    .advanced-search{
        .form-group{
            display: block;
            .form-control{
                display: inline-block;
                width: 100%;
                border:1px solid rgba(255,255,255,0.7);
                height:50px;
                background: rgba(255,255,255,0.2);
                border-radius: 50px;
                padding: 0px 20px;
                color: #fff;
                margin-bottom: 10px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                option{
                    color: #333;
                    padding: 10px;
                }
                &.width25{
                    width: 35%;
                }
                &.width75{
                    width: 64%;
                }
                position: relative;
                
            }
        }
    }
    input[type="text"]{
        border:1px solid rgba(255,255,255,0.7);
        height:50px;
        width: 100%;
        background: rgba(255,255,255,0.2);
        border-radius: 50px;
        padding: 0px 20px;
        &::-moz-placeholder {
            color: #fff;
            opacity: 1;
        }
    }
}

.catalog{
    display: block;
    margin: 10px auto;
    max-width: 200px;
    min-height: 320px;
    padding:0px;
    &:hover{
        text-decoration: none;
    }
    .catalog-image{
        margin-bottom: 10px;
        img{
            max-width: 100%;
        }
    }
    .catalog-information{
        padding:0px 5px;
        margin-bottom: 10px;
        .title{
            margin: 0px;
            padding:0px;
            color: #333;
            font-family: "UbuntuSemiBold";
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 2px;
        }
        .subject{
            margin: 0px;
            padding:0px;
            color: #888;
            font-size: 12px;
            line-height: 14px;
            max-height: 30px;
            position: relative;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; 
        }
        .post-date{
            margin: 0px;
            margin-top: 5px;
            padding:0px;
            color: #888;
            font-size: 11px;
            line-height: 11px;
        }
    }
    .catalog-author{
        padding:0px 5px;
        margin: 0px;
        color: #888;
        font-size: 12px;
        line-height: 14px;
        .author{
            margin: 0px;
            float: left;
        }
        .viewed{
            margin: 0px;
            float: right;
        }
        &:after{
            @extend .clearfix;
        }
    }

}

.catalog-detail{
    display: block;
    &:after{
        @extend .clearfix;
    }
    .image-cover{
        float: left;
        width: 25%;
        img{
            max-width: 100%;    
        }
    }
    .catalog-information{
        width: 75%;
        float: left;
        padding-left: 10px;
        position: relative;
        dt{
            text-align: left;
            font-family: "UbuntuSemiBold";
            font-weight: normal;
            &:before{
                content: " : ";
                float: right;
            }
            &:after{
                @extend .clearfix;
            }
        }
    }
}

.tags{
    display: block;
    margin: 0px;
    padding: 0px;
    li{
        display: inline-block;
        margin-right: 5px;
        span{
            display: block;
            background: #1FDE4C;
            color: #fff;
            padding: 3px 5px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    }
    &:after{
        @extend .clearfix;
    }
}

.price{
    background: #e00f0f;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    font-family: "UbuntuSemiBold";
    margin-bottom: 5px;
    display: inline-block;
}

.overlay-body{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    color: #fff;
    .preloader{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        text-align: center;
        .icon{
            font-size: 48px;
        }
        .title{
            font-size:18px;
        }
        .overlay-action{
            margin: 10px 0px;
            .btn{
                background-color: transparent;
                color: #fff;
                border: 1px solid #fff;
                margin: 5px;
            }
        }
    }
}

.table-cart{
    .image-cover{
        max-width: 100px;
    }
}