<div class="profile-box">
    <div class="profile-information">
        <h3 class="display-name"><?=$userAuth['display_name'];?></h3>
        <h3 class="user-name"><?=$userAuth['username'];?></h3>
        <p class="last-login">Last login : <?=$userAuth['last_login'];?></p>
    </div>
</div>