<div class="page-footer">
    <div class="page-footer-inner"> <?=date('Y');?> &copy; 
        <a href="#" target="_blank">Septian Eka Putra</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>